body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #00C3A5;
    color: white;
    padding: 1em;
    text-align: center;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 205px;
    height: 65px;
    padding: 10px;
    margin: 10px auto;
    border: none;
    background-color: #007bff;
    font-weight: bold;
    color: white;
    font-size: 21px;
    cursor: pointer;
    border-radius: 35px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: center;
}

td {
    border: 1px solid #dddd;
    background-color: #fcfcfc;
    padding: 8px;
}

th {
    background-color: #dfdfdf;
    font-weight: bold;
    padding: 8px;
}

.eliminar-medicion {
    background-color: #dc3545; 
    color: white;
    border: none;
    width: 100px;
    height: 30px;
    padding: 5px 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9em;
}

.eliminar-medicion:hover {
    background-color: #c82333;
}
.resaltar{
    color: #333;
    border-bottom: 2px solid #ccc;
    margin-bottom: 15px; 
}

.riesgo-bajo {
    color: green;
    font-weight: bold;
}

.riesgo-medio {
    color: orange;
    font-weight: bold;
}

.riesgo-alto {
    color: red;
    font-weight: bold;
}

.riesgo-indeterminado {
    color: gray;
    font-style: italic;
}
/********************* PANTALLA MEDICION *********************************/

#pantalla-medicion {
    text-align: center;
    background-color: #fcfcfc;
    border-radius: 10px;
    padding : 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

#pantalla-medicion button {
    width: 120px;
    height: 50px;
    padding: 10px;
    margin: 10px auto;
    background-color: #707982;
    font-weight: bold;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
}

#pantalla-medicion  button:hover {
    background-color: #5f676e;
}

#txtOxi {
    color: #0f88f3;
    padding : 5px;
}
#txtPulso {
    color: #e81414;
    padding : 5px;
}
#txtAlco {
    color: #d1ba0b;
}

.icono-medicion {
    vertical-align: middle;
    margin-right: 5px;
    width: 50px;
    height: 50px;
}